[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
